<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="1" name="Test" parallel="methods">
    	<groups>
 			 <run>
 				 <include name="Regression"></include>
 				 <include name="Sanity"></include>
 			 </run>
 		 </groups>
         <classes>
      <class name="testPackage.VerifyAddingEmployeeScenarios"/>
      <class name="testPackage.VerifyLoginScenarios"/>
      <class name="testPackage.VerifyAddingCandidateScenarios"/>
      <class name="testPackage.VerifyAddingUserScenarios"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
